# Test run

## What is a test run?

**Every time we execute a test plan, we generate a test run.** And each test run is assigned a unique ID.

That ID is used to identify the run when collecting outputs, or exploring results or diagnostics.

